name: Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
      
jobs:
  release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create release
      issues: write # to comment on released issues
      pull-requests: write # to comment on released PRs
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for commit analysis
          
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          
      - name: Install Wine (for Windows Build)
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y wine64 wine32
          
      - name: Install Dependencies
        run: npm ci
        
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install -D semantic-release @semantic-release/git @semantic-release/exec @semantic-release/changelog
          npx semantic-release
